apiVersion: v1
kind: Service
metadata:
  name: docking
  labels:
    {{- include "nexus-docking.labels" . | nindent 4 }}
    app.kubernetes.io/component: docking
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nexus-docking.selectorLabels" (dict "context" . "component" "docking") | nindent 4 }}
