apiVersion: v1
kind: Service
metadata:
  name: crew
  labels:
    {{- include "nexus-crew.labels" . | nindent 4 }}
    app.kubernetes.io/component: crew
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nexus-crew.selectorLabels" (dict "context" . "component" "crew") | nindent 4 }}
