apiVersion: v1
kind: Service
metadata:
  name: load-generator
  labels:
    {{- include "nexus-load-generator.labels" . | nindent 4 }}
    app.kubernetes.io/component: load-generator
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nexus-load-generator.selectorLabels" (dict "context" . "component" "load-generator") | nindent 4 }}
