apiVersion: v1
kind: Service
metadata:
  name: power
  labels:
    {{- include "nexus-power.labels" . | nindent 4 }}
    app.kubernetes.io/component: power
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nexus-power.selectorLabels" (dict "context" . "component" "power") | nindent 4 }}
