apiVersion: v1
kind: Service
metadata:
  name: cortex
  labels:
    {{- include "nexus-cortex.labels" . | nindent 4 }}
    app.kubernetes.io/component: cortex
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nexus-cortex.selectorLabels" (dict "context" . "component" "cortex") | nindent 4 }}
