apiVersion: v1
kind: Service
metadata:
  name: life-support
  labels:
    {{- include "nexus-life-support.labels" . | nindent 4 }}
    app.kubernetes.io/component: life-support
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nexus-life-support.selectorLabels" (dict "context" . "component" "life-support") | nindent 4 }}
